doctype html
html(lang="es")
	head
		title Compart.io &middot Consumo Colaborativo

		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='Compart.io A place to Get & Share ')
		meta(name='author', content='Compart.io Developer Team')

		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')   

		style.
			body { padding-top:80px; }
  
	body		
		.container
			ol(class="breadcrumb")
				li
					a(href="#") Home
				li
					a(href="/cities") Ciudades
				li(class="active") #{city.name}

			div(class="row")
				h2 #{city.name}
				p slug: #{city.slug}
				p postalCode: #{city.postal_code}				
				p created: #{city.created} 
				p active: #{city.is_active}
				p countryid: #{city.country_id}

				a(href="/cities", class="btn btn-default") Volver a ciudades
				
				
				
	// include includes/footer