doctype html
head
    title Mi perfil compart.io
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    style
      body 		{ padding-top:80px; word-wrap:break-word; }
  body
    .container
      .page-header.text-center
        h1
          span.fa.fa-anchor
          | Mi perfil compart.io
        a.btn.btn-default.btn-sm(href='/logout') Salir
      .row
        //
           LOCAL INFORMATION 
        .col-sm-6
          .well
            h3
              span.fa.fa-user
              | Usuario/a compart.io
            p
              strong Identificador
              | : #{user._id}
              br
              strong Email
              | : #{user.local.emails[0].email}
              br
              strong Password Encriptada
              | : #{user.local.password_hash}
              br
              strong Nombre de Usuario
              | : #{user.local.username}
              br
              strong Nombre Público
              | : #{user.local.screen_name}
              br
              strong Dirección de recogida
              | : #{user.local.addresses[0]}
              br
              strong Dirección de residencia
              | : #{user.local.addresses[1]}
              br
              strong Karma
              | : #{user.local.karma}
              br
              strong Fecha de alta
              | : #{user.local.sign_up_stamp}
              br
              strong Fecha último login
              | : #{user.local.last_sign_in_stamp}

            a.btn.btn-default(href='/unlink/local') Actualizar
        //
        //   FACEBOOK INFORMATION 
        //.col-sm-6
        //  .well
        //    h3.text-primary
        //      span.fa.fa-facebook
        //      | Facebook
        //
        //       check if the user has this token (is the user authenticated with this social account) 
        //    a.btn.btn-primary(href='/connect/facebook') Connect Facebook
      //.row
        //
        //   TWITTER INFORMATION 
        //.col-sm-6
        //  .well
        //    h3.text-info
        //      span.fa.fa-twitter
        //      | Twitter
        //    a.btn.btn-info(href='/connect/twitter') Connect Twitter
        //
        //   GOOGLE INFORMATION 
        //.col-sm-6
        //  .well
        //    h3.text-danger
        //      span.fa.fa-google-plus
        //      | Google+
        //    a.btn.btn-danger(href='/connect/google') Connect Google
